<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>{{'country.selector.label' | translate}}</mat-label>
  <input type="text"
         placeholder="{{'country.selector.placeholder' | translate}}"
         matInput
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" [panelWidth]="'auto'">
    <mat-option *ngFor="let country of countries" [value]="country.iso2">
      {{country.iso2}} - {{getCountryName(country)}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
