<div class="navbar" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
  <div>
    left part
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
    <button class="lang" mat-button [matMenuTriggerFor]="languages">
      <mat-icon>language</mat-icon>
      <span>{{currentLanguage}}</span>
    </button>
  </div>
</div>

<mat-menu #languages="matMenu">
  <button class="lang" mat-menu-item *ngFor="let lang of appLanguages" (click)="changeLang(lang)">
    <mat-icon [ngStyle]="{opacity: (lang === currentLanguage ? 1 : 0) }">done</mat-icon>
    <span class="lang" [ngClass]="{'menu-item-selected': lang === currentLanguage}">{{ lang }}</span>
  </button>
</mat-menu>
